*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* border: 1.5px solid black; */
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main{
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    background: rgb(125, 95, 255, .9);
}
.belive_image{
    background-image: url(https://images.unsplash.com/photo-1633720823250-25c50fb09943?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGx1Y2t8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border: 1px solid white;
}
.top_main_heading{
    /* border: 1px solid white; */
    font-size: 3.8rem;
    margin-top: 8rem;
    letter-spacing: 2px;
    color: rgb(47, 53, 66, 0.9);
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 1.8px white;
    text-transform: capitalize;
    display: inline-flex;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px 0px 1px 1.5px white;
    backdrop-filter: blur(5px);
    border-radius: 7px 10px;

}
.luck{
    /* border: 1px solid white; */
    font-size: 3.6rem;
    letter-spacing: 2px;
    color: rgb(44, 62, 80, .9);
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 3px white;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    top: 25%;
    display: none;
    margin-inline: auto;
    display: none;
}
.container{
    /* border: 2px solid black; */
    background-image: url(https://media2.giphy.com/media/3o6Mbb2RepU5Pn54fC/giphy.gif?cid=790b7611622cece760daf2559cb36cae7976bd829ea730ab&rid=giphy.gif&ct=g);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 700px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* height: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_container{
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* margin: 1rem; */
    width: 100%;
    margin-top: -10rem;
}
.top_heading{
    /* border: 1px solid white; */
    font-size: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-shadow: 1px 1px 1.8px white;
    color: rgb(0, 0, 0, .9);
}
.player_name{
    /* border: 1px solid white; */
    padding: 1rem;
    justify-content: center;
    display: flex;
    width: 80%;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: auto;
}
label{
    font-size: 28px;
    padding-right: 1rem;
    text-shadow: 1px 1px 1px rgb(255, 255, 255, 0.5);
}
input[type=text]{
    font-size: 22px;
    padding: 2px 2px 2px 6px ;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px #2f3542;
    text-transform: capitalize;
}
.btn_play{
    /* border: 1px solid white; */
    margin-top: 3rem;
}
#btn_ready{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    letter-spacing: .2px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#btn_ready:hover{
    background-color: #a4b0be;
    color: whitesmoke;
}
.btn_plays{
    /* border: 1px solid black; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 2px 2px #34495e;
    border-radius: 7px 25px;
    border: none;
    display: none;
}
#ready_for_play{
    padding: 1rem 1.5rem;
    font-size: 2.3rem;
    border: none;
    border-radius: 7px 25px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
}
#ready_for_play:hover{
    background-color: rgb(155, 89, 182, 0.2);
    color: white;
}
/* ===============Number_picker1.css=========== */
.main_gaming_area{
    /* border: 1px solid black; */
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1638913658179-18c9a9c943f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.main_containers{
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);
    /* width: 50%; */
}
.sandy{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
    width: 700px;
    height: 550px;
    box-shadow: 0px 0px 1px 2px white;
}
.sandy, nav, .game_information, .main_playing_area, .main_playging_area1, .hint_section{
    /* border: 1px solid black; */
}
.main_playing_area{
    margin-top: 2rem;
}
.top_heading1{
    /* border: 1px solid blue; */
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #222f3e;
    text-shadow: 1px 1px 1px #ffffff;
}
.game_information{
    margin-top: .9rem;
    backdrop-filter: blur(4px);
    color: rgb(255, 255, 255, .7);
    padding-left: 1rem;
    padding-right: 1rem;
}
h3{
    font-size: .95rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    letter-spacing: .5px;
}
#putting_number_space{
    margin-top: 1.5rem;
    border: none;
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 5px;
}
#guees_number{
    font-size: 3rem;
    letter-spacing: .5px;
    color: rgb(47, 53, 66, 1);
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 4px white;
}
#submit_guess{
    padding: .6rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 7px 15px;
    letter-spacing: .2px;
    box-shadow: 0px 0px 1px 2px #45aaf2;
    cursor: pointer;
}
#submit_guess:hover{
    background-color: transparent;
    color: white;
}
.attempt_left{
    font-size: 1rem;
    margin-top: .7rem;
    font-family: 'Indie Flower', cursive;
}
.hint_section{
    margin-top: 1rem;
}
#player_hint{
    color: rgb(47, 53, 66, 0.9);
    font-family: 'Indie Flower', cursive;
}
.refresh_game{
    /* border: 1px solid black; */
    display: inline-block;
    margin-top: 2rem;
}
#refresh_btn{
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .4px;
    font-weight: 500;
    padding: .5rem .8rem;
    border-radius: 7px 15px;
    box-shadow: 0px 0px 1px 1px blueviolet;
    cursor: pointer;
    display: none;
}
#refresh_btn:hover{
    background-color: transparent;
    text-shadow: 0px 0px 1px #2c3e50;
}



/* ================================== */

